input {
    /* width: 80%; */
    padding: 15px;
    margin-top: -2vh;
    
    text-align: left;
}

form{
    /* border: solid 3px red; */
    margin: -5vh;
}

#InputButton div{
    display: inline-block;
}

#PesquisaInput{
    margin-top: 5vh;
    margin-left: -3vh;
    /* border: solid 3px red; */
}

#pesquisaLupa{
    /* border: solid 3px pink;     */
    /* width: 5vh; */
    /* height: 5vh; */    
    margin-left: 2vh;

 
    
}

/* #botaoPesquisa {
    /* border: solid 3px orange;     */
    
    /* top: 15px;
    font-size: 1.5em;
     
    
    
} */